<section class="panel {{type}} inactive" data-type="{{type}}">
	{{{html}}}

	<div class="action on">{{__ 'Interactuar con el mapa'}}</div>
	<div class="action off">{{__ 'Volver al webdoc'}}</div>
</section>
