<section class="panel {{type}}" data-type="{{type}}" data-dock>
    <div class="tray">
        <div class="canvas">
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/0_hambre_intro.png"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/1_biafra_68.png" data-year="1968"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/2_biafra_68.png" data-year="1968"></div>
            <div>
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/3_sahel_69_71.png" data-year="1969-1971">
            </div>
            <div class="unknown">
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/4_etiopia_72.png" data-year="1972">
                <video src="/static/media/unknown_famine.mp4" loop preload="metadata" data-subtitles="{{parseSRT unknown}}"></video>
            </div>
            <div class="kissinger">
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/5_etiopia_74.png" data-year="1974">
                <audio src="/static/media/kissinger.mp3" controls type="audio/mp3" data-subtitles="{{parseSRT kissinger}}"></audio>
            </div>
            <div class="bangladesh">
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/6_bangladesh_74.png" data-year="1974">
                <video src="/static/media/1974_bangladesh.mp4" loop preload="metadata" data-subtitles="{{parseSRT pilger}}"></video>
            </div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/7_cambodia_75.png" data-year="1975"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/8_asia_75_79.png" data-year="1975-1979"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/9_uganda_80.png" data-year="1980"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/10_negro_81_82.png" data-year="1981-1982"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/11_sudan_83.png" data-year="1983"></div>
            <div class="ethiopia">
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/12_etiopia_84.png" data-year="1984">
                <video src="/static/media/1984_ethiopia.mp4" loop preload="metadata" data-subtitles="{{parseSRT buerk}}"></video>

            </div>
            <div class="wearetheworld">
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/13_etiopia_84.png" data-year="1984">
                <video src="/static/media/we_are_the_world.mp4" loop preload="metadata" data-subtitles=""></video>

            </div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/14_negro_85_90.png" data-year="1985-1990"></div>
            <div class="somalia">
                <img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/15_somalia_92.png" data-year="1992">
                <video src="/static/media/1993_somalia.mp4" loop preload="metadata" data-subtitles="{{parseSRT bill}}"></video>

            </div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/16_sudan_93_98.png" data-year="1993-1998"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/17_sudan_93_98.png" data-year="1993-1998"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/18_negro_99_2003.png" data-year="1999-2003"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/19_sudan_2004.png" data-year="2004"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/20_niger_2005.png" data-year="2005"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/21_negro_2008.png" data-year="2008"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/22_negro_2009_2010.png" data-year="2009-2010"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/23_somalia_2011.png" data-year="2011"></div>
            <div><img src="/static/img/canvas/{{__ 'CURRENT_LANG'}}/24_negro_2016.png" data-year="2016"></div>
        </div>
        <!-- <div class="tray-bottom"></div> -->
    </div>
    <div class="handler">
        <div class="end top">
            {{init}}
        </div>
        <div class="slider">
            <div class="scrubber">
            <span class="text">1968</span>
            </div>
        </div>
        <div class="end bottom">
            {{end}}
        </div>
    </div>
</section>
