<section class="panel {{type}}" data-type="{{type}}" {{#if door}}data-door{{/if}}>
{{#if bgsound}}
    <audio src="/static/media/{{bgsound}}" loop></audio>
{{/if}}

    {{#if terminal}}
    <a data-external data-terminal="{{terminal}}" href="/hub">
    {{/if}}

        <h1>{{{text}}}</h1>

    {{#if terminal}}
    </a>
    {{/if}}

</section>
