<section class="panel {{type}}" data-type="{{type}}" {{#if door}}data-door{{/if}}>
{{#if bgsound}}
    <audio class="bgsound" src="/static/media/{{bgsound}}" loop></audio>
{{/if}}

{{#if image}}
    <img src="/static/img/{{image}}">
{{else}}
    <video class="bgvideo" src="/static/media/{{video}}" loop preload></video>
{{/if}}

{{#if points}}
    <ul class="points">
    {{#each points}}
        <li {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}} style="top: {{top}};left: {{left}}" class="{{#if borderPoint}}border{{/if}}">
            <img  class="spot {{#if ../icon.class}}{{../icon.class}}{{/if}}" src="/static/img/{{#if icon}}{{icon.file}}{{else}}{{../icon.file}}{{/if}}" width="{{#if icon}}{{icon.width}}{{else}}{{../icon.width}}{{/if}}" height="{{#if icon}}{{icon.height}}{{else}}{{../icon.height}}{{/if}}" style="martin-top: {{#if icon}}{{icon.offset}}{{else}}{{../icon.offset}}{{/if}}x; margin-left: {{#if icon}}{{icon.offset}}{{else}}{{../icon.offset}}{{/if}}px">

            <div data-anchor="{{anchor}}" {{#if class}}class="is-hidden {{class}}"{{/if}}>
            {{#if content.title}}
                <h1>{{content.title}}</h1>
            {{/if}}

            {{#if content.subtitle}}
                <h2>{{content.subtitle}}</h2>
            {{/if}}

            {{#if content.img}}
                <img src="/static/img/{{content.img}}">
            {{/if}}

            <div class="arrows"><img src="/static/img/arrows.svg"></div>

            {{#if content.text}}
                <p>{{content.text}}</p>
            {{/if}}

            {{#if content.audio}}
                <audio src="/static/media/{{content.audio.src}}" autobuffer controls {{#if content.audio.subtitles}}data-subtitles='{{parseSRT content.audio.subtitles}}'{{/if}}></audio>
            {{/if}}

            {{#if content.video}}
                <video src="/static/media/{{content.video.src}}" autobuffer controls {{#if content.video.subtitles}}data-subtitles='{{parseSRT content.video.subtitles}}{{/if}}'></video>
            {{/if}}
            </div>
        </li>
    {{/each}}
    </ul>
{{/if}}

</section>
