<article class="end credits" data-page="credits">
    <section class="panel title">
        <div class="branding">
            <p class="title">{{__ 'Este webdoc forma parte del proyecto transmedia ProjecteFAM'}}</p>

            <img class="title" src="/static/img/logo_fam.png">

            <a class="title" href="http://projectefam.cc" data-external target="_blank">{{__ 'projectefam.cc'}}</a>

            <p>{{__ 'Una producción de'}}</p>

            <a data-external target="_blank" href="http://www.quepo.org"><img src="/static/img/logo_quepo.png"></a>
            <p>{{__ 'Con el apoyo de'}}</p>

            <a data-external target="_blank" href="http://www.barcelona.cat/ca/"><img src="/static/img/logo_ajunta_bcn.png"></a>
        </div>

    	<div class="credits">

            <h1>{{__ 'Una producción de'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="http://www.quepo.org">Quepo</a></li>
            </ul>

    		<h1>{{__ 'Con el apoyo de'}}</h1>
    		<ul>
    			<li><a data-external target="_blank" href="http://www.barcelona.cat/ca/">Ajuntament de Barcelona</a></li>
    		</ul>

            <p>{{__ 'Una idea original de Sonia Ros Muriel'}}</p>

            <h1>{{__ 'Dirigido por'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/soniarosm">Sonia Ros Muriel</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/pablozare">Pablo Zareceansky</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/luandujar">Lucía Andújar</a></li>
            </ul>

            <h1>{{__ 'Producción Ejecutiva'}}</h1>
            <ul>
                <li>Sonia Ros Muriel</li>
                <li>Pablo Zareceansky</li>
                <li><a data-external target="_blank" href="https://twitter.com/raquelbonell">Raquel Bonell</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/JulianAltuna">Julián Altuna</a></li>
            </ul>

            <h1>{{__ 'Producción'}}</h1>
            <ul>
                <li>Lucía Andújar</li>
            </ul>

            <h1>{{__ 'Interfaz y navegación'}}</h1>
            <ul>
                <li>Quepo</li>
                <li><a data-external target="_blank" href="https://anavallasuiza.com/">A navalla suíza</a></li>
            </ul>

            <h1>{{__ 'Desarrollo de interactividad'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/bertez">Berto Yáñez</a></li>
            </ul>

            <h1>{{__ 'Dirección de arte'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="http://laaminuscula.blogspot.com.es">Chus Portela</a></li>
            </ul>

            <h1>{{__ 'Producción de interactividad'}}</h1>
            <ul>
                <li>A navalla suíza</li>
            </ul>

            <h1>{{__ 'Wireframing'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/Ayma">Aymará Ghiglione</a></li>
            </ul>

            <h1>{{__ 'Textos'}}</h1>
            <ul>
                <li>Sonia Ros</li>
            </ul>

            <h1>{{__ 'Realización'}}</h1>
            <ul>
                <li>Pablo Zareceansky</li>
            </ul>

            <h1>{{__ 'Documentación'}}</h1>
            <ul>
                <li>Lucía Andújar</li>
                <li>Sonia Ros</li>
                <li>Pablo Zareceansky</li>
                <li><a data-external target="_blank" href="https://twitter.com/LuciaSances">Lucía Sances</a></li>
            </ul>

            <h1>{{__ 'Montaje'}}</h1>
            <ul>
                <li>Ana Agulló</li>
                <li>Sara López</li>
            </ul>

            <h1>{{__ 'Gestión Económica y contabilidad'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/FactoCoop">Joan Martínez</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/omartinalvarez">Oriol Martín Alvarez</a></li>
            </ul>

            <h1>{{__ 'Asesoría'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/ifresnillo">Iolanda Fresnillo</a></li>
            </ul>

            <h1>{{__ 'Interpretación Voz en Off'}}</h1>
            <ul>
                <li>Judit Porta</li>
            </ul>

            <h1>{{__ 'Traducciones'}}</h1>
            <ul>
                <li>Rowan Ritchie</li>
                <li>Ester Juberías</li>
                <li>Tamara Robles</li>
            </ul>

            <h1>{{__ 'Con la colaboración de'}}</h1>
            <ul>
                <li>Marta Sáiz, Júlia Ponti, Eva Dargelos, Tamara Robles, Rebeca Fernández, Judit González, <a data-external target="_blank" href="https://twitter.com/maria_yanez">María Yañez</a></li>
            </ul>
            <p>Con TU participación y la de las y los usuarios que han compartido su código fuente del hambre.</p>

            <h1>{{__ 'La selección de imágenes que aparecen en este webdoc, pertenecen a los archivos de los siguientes autores y entidades:'}}</h1>

            <h2>{{__ 'Fotógrafos independientes'}}</h2>

            <ul>
                <li><a href="https://unmundoenguerra.wordpress.com/tag/economia/" target="_blank">Antonio Pampliega</a></li>
                <li><a href="http://www.worldvision.es/" target="_blank">Lucy Murunga - World Vision</a></li>
                <li><a href="http://in.reuters.com/" target="_blank">Omar Faruk / Reuters</a></li>
                <li><a href="http://www.apimages.com/" target="_blank">Ben Curtis / AP</a></li>
                <li><a href="http://www.123rf.com/" target="_blank">Topungato / 123RF Stock</a></li>
                <li><a href="http://www.oxfamintermon.org/" target="_blank">Pablo Tosco / Intermón Oxfam</a></li>
                <li><a href="http://andyhallphotographer.com/the-sahel-and-sub-saharan/" target="_blank">Andy Hall</a></li>
                <li><a href="https://twitter.com/ashleyhamer" target="_blank">Ashley Hamer</a></li>
                <li><a href="http://beatricespadacini.com/" target="_blank">Beatriz Spadacini</a></li>
                <li><a href="https://www.oxfamamerica.org/" target="_blank">Nick Lacey / Oxfam America</a></li>
                <li><a href="http://hiltonmediagroup.com/" target="_blank">Bobb Ripple / Hilton Media Gorup</a></li>
                <li><a href="http://www.fao.org/" target="_blank">Issouf Sanogo / FAO</a></li>
                <li><a href="https://www.irinnews.org/" target="_blank">Heba Aly / IRIN</a></li>
                <li><a href="https://www.irinnews.org/" target="_blank">Tanya Brinda / IRIN</a></li>
                <li><a href="link http://www.tomstoddart.com/gallery/sudan-famine" target="_blank">Tom Stoddart</a></li>
                <li><a href="link http://www.worldpressphoto.org/people/mike-wells" target="_blank">Mike Wells</a></li>
                <li><a href="https://www.instagram.com/dinnoedhjaelp/" target="_blank">Anja Ringgren Loven</a></li>
                <li><a href="http://www.marcodilauro.com/" target="_blank">Marco Di Lauro</a></li>
                <li><a href="http://www.contactpressimages.com/" target="_blank">Gilles Caron / Contact Press Images</a></li>
                <li><a href="http://donmccullin.com/" target="_blank">Don McCullin</a></li>
                <li><a href="https://pro.magnumphotos.com/" target="_blank">Raymond Depardon / Magnum Photos</a></li>
                <li><a href="http://www.chrissteeleperkins.com/" target="_blank">Chris Steele-Perkins</a></li>
                <li><a href="http://santipalacios.com/" target="_blank">Santi Palacios</a></li>
                <li><a href="http://www.gettyimages.es/" target="_blank">Mike Cameron / Getty Images</a></li>
                <li><a href="http://www.gettyimages.es/" target="_blank">Phil Dent / Getty Images</a></li>
                <li><a href="http://www.gettyimages.es/" target="_blank">Popperfoto / Getty Images</a></li>
                <li><a href="https://www.flickr.com/" target="_blank">James L. Harper / Flikr</a></li>
                <li>Jay Janner</li>
                <li>Kevin Carter</li>
                <li>Jonathan Dimbledy</li>
                <li>John Pilger</li>
                <li>Liquid Slave</li>
            </ul>

            <h2>{{__ 'Medios de comunicación'}}</h2>

            <ul>
                <li>BBC</li>
                <li><a href="http://www.ina.fr/" target="_blank">InaFR</a></li>
                <li><a href="http://www.rtvce.es/" target="_blank">Radio Televisión Española</a></li>
                <li><a href="http://www.ccma.cat/" target="_blank">Televisió de Catalunya</a></li>
                <li><a href="http://time.com/life/" target="_blank">Life</a></li>
                <li><a href="http://www.mirror.co.uk/" target="_blank">Daily Mirror</a></li>
                <li><a href="http://time.com/" target="_blank">Time</a></li>
                <li><a href="http://www.dailymail.co.uk/mailonsunday/index.html" target="_blank">The Mail on Sunday</a></li>
                <li><a href="https://www.theguardian.com/international" target="_blank">The Guardian</a></li>
                <li><a href="http://www.nytimes.com/" target="_blank">The New York Times</a></li>
                <li><a href="http://www.abc.es/" target="_blank">ABC</a></li>
                <li><a href="http://www.reuters.com/" target="_blank">Reuters</a></li>
            </ul>

            <h2>{{__ 'Organizaciones entidades y agencias de imágenes'}}</h2>

            <ul>
                <li><a href="http://hiltonmediagroup.com/" target="_blank">Hilton Media Group</a></li>
                <li><a href="http://www.worldvision.es/" target="_blank">World Vision</a></li>
                <li><a href="http://www.fao.org/home/es/" target="_blank">FAO</a></li>
                <li><a href="https://www.unicef.es/" target="_blank">Unicef</a></li>
                <li><a href="https://www.oxfam.org/es" target="_blank">Oxfam</a></li>
                <li><a href="http://www.care.org/" target="_blank">CARE</a></li>
                <li><a href="https://www.accioncontraelhambre.org/es" target="_blank">Acción contra el hambre</a></li>
                <li><a href="http://www.rexfeatures.com/" target="_blank">Rex Features</a></li>
                <li><a href="http://www.a24media.com/tag/camerapix/" target="_blank">Camerapix / A24 Media</a></li>
                <li><a href="http://www.gettyimages.es/" target="_blank">Getty Images</a></li>
                <li><a href="http://www.apimages.com/" target="_blank">AP Images</a></li>
                <li><a href="http://www.defense.gov/" target="_blank">United States Department of Defense</a></li>
                <li><a href="https://www.wfp.org/" target="_blank">World Food Programme</a></li>
                <li><a href="https://www.google.es/maps" target="_blank">Google Maps</a></li>
                <li><a href="https://www.facebook.com/liveaid1985/" target="_blank">Live Aid Book</a></li>
                <li><a href="http://usaforafrica.org/" target="_blank">USA For Africa</a></li>
            </ul>
    	<div>


    {{> end-menu}}
    </section>

</article>
