<article class="end credits" data-page="credits">
    <section class="panel title">
    	<div class="branding">
    		<p>{{__ 'Este webdoc forma parte del proyecto transmedia ProjecteFAM'}}</p>

    		<img src="/static/img/logo_fam.png">

    		<a href="http://projectefam.cc" data-external target="_blank">{{__ 'projectefam.cc'}}</a>

    	</div>

    	<div class="credits">

            <h1>{{__ 'Una producción de'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="http://www.quepo.org">Quepo</a></li>
            </ul>

    		<h1>{{__ 'Con el apoyo de'}}</h1>
    		<ul>
    			<li><a data-external target="_blank" href="http://www.barcelona.cat/ca/">Ajuntament de Barcelona</a></li>
    		</ul>

            <p>{{__ 'Una idea original de Sonia Ros Muriel'}}</p>

            <h1>{{__ 'Dirigido por'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/soniarosm">Sonia Ros Muriel</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/pablozare">Pablo Zareceansky</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/luandujar">Lucía Andújar</a></li>
            </ul>

            <h1>{{__ 'Producción Ejecutiva'}}</h1>
            <ul>
                <li>Sonia Ros Muriel</li>
                <li>Pablo Zareceansky</li>
                <li><a data-external target="_blank" href="https://twitter.com/raquelbonell">Raquel Bonell</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/JulianAltuna">Julián Altuna</a></li>
            </ul>

            <h1>{{__ 'Producción'}}</h1>
            <ul>
                <li>Lucía Andújar</li>
            </ul>

            <h1>{{__ 'Interfaz y navegación'}}</h1>
            <ul>
                <li>Quepo</li>
                <li><a data-external target="_blank" href="https://anavallasuiza.com/">A navalla suíza</a></li>
            </ul>

            <h1>{{__ 'Desarrollo de interactividad'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/bertez">Berto Yáñez</a></li>
            </ul>

            <h1>{{__ 'Dirección de arte'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="http://laaminuscula.blogspot.com.es">Chus Portela</a></li>
            </ul>

            <h1>{{__ 'Producción de interactividad'}}</h1>
            <ul>
                <li>A navalla suíza</li>
            </ul>

            <h1>{{__ 'Wireframing'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/Ayma">Aymará Ghiglione</a></li>
            </ul>

            <h1>{{__ 'Textos'}}</h1>
            <ul>
                <li>Sonia Ros</li>
            </ul>

            <h1>{{__ 'Realización'}}</h1>
            <ul>
                <li>Pablo Zareceansky</li>
            </ul>

            <h1>{{__ 'Documentación'}}</h1>
            <ul>
                <li>Lucía Andújar</li>
                <li>Sonia Ros</li>
                <li>Pablo Zareceansky</li>
                <li><a data-external target="_blank" href="https://twitter.com/LuciaSances">Lucía Sances</a></li>
            </ul>

            <h1>{{__ 'Montaje'}}</h1>
            <ul>
                <li>Ana Agulló</li>
                <li>Sara López</li>
            </ul>

            <h1>{{__ 'Gestión Económica y contabilidad'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/FactoCoop">Joan Martínez</a></li>
                <li><a data-external target="_blank" href="https://twitter.com/omartinalvarez">Oriol Martín Alvarez</a></li>
            </ul>

            <h1>{{__ 'Asesoría'}}</h1>
            <ul>
                <li><a data-external target="_blank" href="https://twitter.com/ifresnillo">Iolanda Fresnillo</a></li>
            </ul>

            <h1>{{__ 'Interpretación Voz en Off'}}</h1>
            <ul>
                <li>Judit Porta</li>
            </ul>

            <h1>{{__ 'Traducciones'}}</h1>
            <ul>
                <li>Rowan Ritchie</li>
                <li>Ester Juberías</li>
                <li>Tamara Robles</li>
            </ul>

            <h1>{{__ 'Con la colaboración de'}}</h1>
            <ul>
                <li>Marta Sáiz, Júlia Ponti, Eva Dargelos, Tamara Robles, Rebeca Fernández, Judit González, <a data-external target="_blank" href="https://twitter.com/maria_yanez">María Yañez</a></li>
            </ul>
            <p>Con TU participación y la de las y los usuarios que han compartido su código fuente del hambre.</p>
    	<div>

    {{> end-menu}}
    </section>

</article>
