<article class="home">
    <section class="panel title">
        <header>
            <h1>{{__ 'HAMBRE'}}</h1>
            <p>{{__ 'Lo que se ve, lo que se esconde'}}</p>
            <ul>
                <li><a data-external href="/locale/ca">{{__ 'Catalán'}}</a></li>
                <li><a data-external href="/locale/en">{{__ 'Inglés'}}</a></li>
                <li><a data-external href="/locale/es">{{__ 'Español'}}</a></li>
            </ul>
        </header>

        <ul class="tipology">
            <li>
                <i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
                <strong>{{__ 'Duración'}}</strong>
                <p>{{__ 'txt-duracion'}}</p>
            </li>
            <li>
                <i class="fa fa-bookmark-o fa-4x" aria-hidden="true"></i>
                <strong>{{__ 'Tipología'}}</strong>
                <p>{{__ 'txt-tipología'}}</p>
            </li>
            <li>
                <i class="fa fa-hand-o-up fa-4x" aria-hidden="true"></i>

                <strong>{{__ 'Navegación'}}</strong>
                <p>{{__ 'txt-navegación'}}</p>
            </li>
        </ul>
    </section>
    <section class="panel permissions">
        <header>
            <h1>{{__ '¿Cómo quieres vivir la experiencia?'}}</h1>
            <p>{{__ 'txt-permisos'}}</p>
        </header>

        <div class="camera">
            <i class="fa fa-video-camera fa-4x" aria-hidden="true"></i>
            <strong>{{__ 'Cámara y audio activados'}}</strong>
            <p>{{__ 'txt-camara-audio activados'}}</p>

            <button type="button">{{__ 'Activar'}}</button>
            <button type="button">{{__ 'No, gracias'}}</button>
        </div>
    </section>
</article>