<article class="home">
    <section class="panel title">
            <div class="cover"></div>
        <header>
            <h1>{{__ 'FAM'}}</h1>
            <div class="front-video">
                <video src="/static/media/frontpage.mp4" autobuffer loop></video>
                <canvas width="1024" height="296" data-text="{{__ 'F-A-M' }}" data-hpos="{{__ 'CANVAS_H_POS'}}" data-font="{{__ 'CANVAS_FONT'}}"></canvas>
            </div>
            <ul>
                <li class="lang"><a data-external href="/locale/ca">{{__ 'CAT'}}</a> //</li>
                <li class="lang"><a data-external href="/locale/es">{{__ 'ESP'}}</a></li>
               {{!--  <li><a data-external href="/locale/en">{{__ 'ENG'}}</a></li> --}}
            </ul>
        </header>
    </section>

</article>
