<article class="hub">
    <div class="overlay">
        <a href="/sequence/1" data-s1 class="title s">
            <div class="a active">
                <span>{{__ 'dona'}}</span>
                <span>{{__ 'negra' }}</span>
                <span>{{__ 'emergència' }}</span>
                <span>{{__ 'africana' }}</span>
                <span>{{__ 'malaltia' }}</span>
                <span>{{__ 'nens' }}</span>
                <span>{{__ 'mosques' }}</span>
                <span>{{__ 'panxa' }}</span>
                <span>{{__ 'mort' }}</span>
                <span>{{__ 'fam' }}</span>
            </div>
            <div class="f">
                <span>{{__ 'dona' }}</span>
                <span>{{__ 'home' }}</span>
                <span>{{__ 'mundial' }}</span>
                <span>{{__ 'nens' }}</span>
                <span>{{__ 'immigració' }}</span>
                <span>{{__ 'emergència' }}</span>
                <span>{{__ 'estructural' }}</span>
                <span>{{__ 'mort' }}</span>
                <span>{{__ 'constant' }}</span>
                <span>{{__ 'política' }}</span>
            </div>
        </a>
        <a href="/sequence/2" data-s2 class="title s">
            <div class="a active">
                <span>{{__ 'males collites' }}</span>
                <span>{{__ 'sequera' }}</span>
                <span>{{__ 'guerres' }}</span>
                <span>{{__ 'pobresa' }}</span>
                <span>{{__ 'desastres naturals' }}</span>
                <span>{{__ 'superpoblació' }}</span>
                <span>{{__ 'preu aliments' }}</span>
                <span>{{__ 'subdesenvolupament' }}</span>
                <span>{{__ 'corrupció local' }}</span>
                <span>{{__ 'analfabetisme' }}</span>
            </div>
            <div class="f">
                <span>{{__ 'políticas' }}</span>
                <span>{{__ 'espoli' }}</span>
                <span>{{__ 'pobresa' }}</span>
                <span>{{__ 'precarietat laboral' }}</span>
                <span>{{__ 'canvi climàtic' }}</span>
                <span>{{__ 'acaparament terres' }}</span>
                <span>{{__ 'preu aliments' }}</span>
                <span>{{__ 'capitalisme' }}</span>
                <span>{{__ 'agroindustria' }}</span>
                <span>{{__ 'corrupció global' }}</span>
            </div>
        </a>
        <a href="/sequence/3" data-s3 class="title s">
            <div class="a active">
                <span>{{__ 'ONG' }}</span>
                <span>{{__ 'diners' }}</span>
                <span>{{__ 'repartiment menjar' }}</span>
                <span>{{__ 'caritat' }}</span>
                <span>{{__ 'ajuda al desenvolupament' }}</span>
                <span>{{__ 'inversions' }}</span>
                <span>{{__ 'educació' }}</span>
                <span>{{__ 'modernització' }}</span>
                <span>{{__ 'democratització' }}</span>
                <span>{{__ 'empoderament' }}</span>
            </div>
            <div class="f">
                <span>{{__ 'política' }}</span>
                <span>{{__ 'compromis' }}</span>
                <span>{{__ 'prioritat' }}</span>
                <span>{{__ 'justícia' }}</span>
                <span>{{__ 'sobiranía' }}</span>
                <span>{{__ 'solidaritat' }}</span>
                <span>{{__ 'canvi model' }}</span>
                <span>{{__ 'corresponsabilitat' }}</span>
                <span>{{__ 'activisme' }}</span>
                <span>{{__ 'respecte' }}</span>
            </div>
        </a>
    </div>
    <div class="panel">
        <div class="part"><img src="/static/img/mosaico/1.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/2.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/3.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/4.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/5.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/6.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/7.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/8.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/9.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/10.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/11.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/12.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/13.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/14.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/15.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/16.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/17.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/18.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/19.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/20.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/21.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/22.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/23.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/24.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/25.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/26.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/27.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/28.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/29.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/30.jpg"></div>
        <div class="part done s1"><img src="/static/img/s1done.jpg"></div>
        <div class="part done s2"><img src="/static/img/s2done.jpg"></div>
        <div class="part done s3"><img src="/static/img/s3done.jpg"></div>
    </div>
</article>
