<article class="hub">
    <div class="overlay">
        <a href="/sequence/1" data-s1 class="title s">
            <div class="a active">
                <span>{{__ 'mujer' }}</span>
                <span>{{__ 'negra' }}</span>
                <span>{{__ 'emergencia' }}</span>
                <span>{{__ 'africana' }}</span>
                <span>{{__ 'enfermedad' }}</span>
                <span>{{__ 'niños' }}</span>
                <span>{{__ 'moscas' }}</span>
                <span>{{__ 'barriga' }}</span>
                <span>{{__ 'muerte' }}</span>
                <span>{{__ 'hambruna' }}</span>
            </div>
            <div class="f">
                <span>{{__ 'mujer'}}</span>
                <span>{{__ 'hombre'}}</span>
                <span>{{__ 'mundial'}}</span>
                <span>{{__ 'niños'}}</span>
                <span>{{__ 'inmigración'}}</span>
                <span>{{__ 'emergencia' }}</span>
                <span>{{__ 'estructural'}}</span>
                <span>{{__ 'muerte' }}</span>
                <span>{{__ 'constante'}}</span>
                <span>{{__ 'política'}}</span>
            </div>
        </a>
        <a href="/sequence/2" data-s2 class="title s">
            <div class="a active">
                <span>{{__ 'malas cosechas' }}</span>
                <span>{{__ 'sequía' }}</span>
                <span>{{__ 'guerras' }}</span>
                <span>{{__ 'pobreza' }}</span>
                <span>{{__ 'desastres naturales' }}</span>
                <span>{{__ 'sobrepoblación' }}</span>
                <span>{{__ 'precio alimentos' }}</span>
                <span>{{__ 'subdesarrollo' }}</span>
                <span>{{__ 'corrupción' }}</span>
                <span>{{__ 'analfabetismo' }}</span>
            </div>
            <div class="f">
                <span>{{__ 'políticas' }}</span>
                <span>{{__ 'expolio' }}</span>
                <span>{{__ 'pobreza' }}</span>
                <span>{{__ 'precariedad laboral' }}</span>
                <span>{{__ 'cambio climático' }}</span>
                <span>{{__ 'acaparamiento tierras' }}</span>
                <span>{{__ 'precio alimentos' }}</span>
                <span>{{__ 'capitalismo' }}</span>
                <span>{{__ 'agroindustria' }}</span>
                <span>{{__ 'colonialimos' }}</span>
            </div>
        </a>
        <a href="/sequence/3" data-s3 class="title s">
            <div class="a active">
                <span>{{__ 'ONG' }}</span>
                <span>{{__ 'dinero' }}</span>
                <span>{{__ 'reparto de comida' }}</span>
                <span>{{__ 'caridad' }}</span>
                <span>{{__ 'ayuda al desarrollo' }}</span>
                <span>{{__ 'inversiones' }}</span>
                <span>{{__ 'educación' }}</span>
                <span>{{__ 'modernización' }}</span>
                <span>{{__ 'democratización' }}</span>
                <span>{{__ 'empoderamiento' }}</span>
            </div>
            <div class="f">
                <span>{{__ 'política' }}</span>
                <span>{{__ 'compromiso' }}</span>
                <span>{{__ 'prioridad' }}</span>
                <span>{{__ 'justicia' }}</span>
                <span>{{__ 'soberanía' }}</span>
                <span>{{__ 'solidaridad' }}</span>
                <span>{{__ 'cambio modelo' }}</span>
                <span>{{__ 'corresponsabilidad' }}</span>
                <span>{{__ 'activismo' }}</span>
                <span>{{__ 'respeto' }}</span>
            </div>
        </a>
    </div>
    <div class="panel">
        <div class="part"><img src="/static/img/mosaico/1.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/2.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/3.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/4.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/5.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/6.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/7.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/8.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/9.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/10.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/11.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/12.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/13.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/14.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/15.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/16.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/17.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/18.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/19.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/20.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/21.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/22.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/23.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/24.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/25.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/26.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/27.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/28.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/29.jpg"></div>
        <div class="part"><img src="/static/img/mosaico/30.jpg"></div>
        <div class="part done s1"><img src="/static/img/s1done.jpg"></div>
        <div class="part done s2"><img src="/static/img/s2done.jpg"></div>
        <div class="part done s3"><img src="/static/img/s3done.jpg"></div>
    </div>
</article>
