<article class="intro" data-where="{{pos}}">
    <section data-output class="panel fixed output">
        <video type="video/webm"></video>
        <div class="controls">
            <div class="button-list">
                <button data-play type="button">{{__ 'Ver'}}</button>
                <button data-restart type="button">{{__ 'Grabar'}}</button>
                <button data-save type="button">{{__ 'Guardar'}}</button>
            </div>
        </div>
    </section>
    <section data-control class="panel fixed control">
        <video type="video/webm"></video>
        <div class="pre-record">
        </div>
        <div data-bar class="bar">
        </div>
        <div data-ui class="controls">
            <div class="button-list">
                <button data-start type="button">{{__ 'grabar'}}</button>
            </div>
            <div class="info">
                {{__ 'Ara, comparteix la teva imatge. Dóna-li a GRAVAR i descriu el que has vist en veu alta. Tens 10 segons per fer-ho. Si no t’agrada, pots tornar a gravar-la de nou.'}}
            </div>
        </div>
    </section>
    <section data-intro class="panel fixed intro-video">
        <video type="video/mp4" data-preload src="/static/media/{{pos}}_{{__ 'CURRENT_LANG'}}.mp4"></video>
    </section>
</article>
