<article class="end share" data-page="share">
    <section class="panel title">

        <div class="share s1">
            <img src="/static/img/share_s1.jpg">
            <div class="buttons">
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="share s2">
            <img src="/static/img/share_s2.jpg">
            <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external></a>
            <div class="buttons">
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="share s3">
            <img src="/static/img/share_s3.jpg">
            <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external></a>
            <div class="buttons">
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="javascript:alert('{{__ 'No disponible hasta la publicación'}}')" target="blank" data-external><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
        </div>

    {{> end-menu}}

    </section>

</article>
