<article class="start">
    <section class="panel title">
        <header>
            <h1>{{__ 'FAM'}}</h1>
            <p>{{__ 'Allò que es veu, Allò que s’amaga'}}</p>
        </header>

        <ul class="tipology">
            <li class="ico-exp">
                <strong>{{__ 'Experiència'}}</strong>
                <p>{{__ 'FAM és un webdoc. Un audiovisual que es navega i que requereix d’observació i de participació. Una proposta narrativa sobre l’imaginari col·lectiu que compartim sobre la fam.'}}</p>
            </li>
            <li class="ico-tip">
                <strong>{{__ 'Sinopsis'}}</strong>
                <p>{{__ 'Una dona africana asseguda al terra, un nen esquelètic amb la mirada perduda. La imatge de la fam construida infinites vegades. Cada dia 25.000 persones moren al món per causa de la fam. Que és el que tenim al cap sobre aquesta problemàtica?'}}</p>
            </li>
            <li class="ico-dur">
                <strong>{{__ 'Durada'}}</strong>
                <p>{{__ 'No hi ha un temps fixe de reproducció. La durada anirá en funció de les decisions que prendràs durant la navegació del documental. Oscil·la entre 12 i 60 minuts. Tot i que sempre pots tancar aquesta pestanya i anar a veure una altra cosa'}}</p>
            </li>
        </ul>

        <button data-start type="button">{{__ 'Empezar'}}</button>
    </section>
    <section class="panel permissions">
        <header>
            <h1>{{__ 'Com vols viure la experiència?'}}</h1>
            <p>{{__ 'Això que tens, està pensat perquè juguis amb allò et trobis. Perquè comparteixis el que penses amb altres que vindran després. Perquè tu també siguis part de la història que expliquem perquè de fet, ja ho ets.'}}</p>
        </header>

        <div class="camera">
            <strong>{{__ 'Activar webcam i micro'}}</strong>
            <p>{{__ 'Connectant-les tindràs una experiència més interesant i complerta. Només, en algun moment et demanarém fer-la servir per ser part de la historia. Així farem mes rica la experiència de totes les persones que vinguin després.'}}</p>

            <button data-activate type="button">{{__ 'Activar'}}</button> //
            <button data-cancel type="button">{{__ 'No, gracias'}}</button>
        </div>
    </section>
</article>