<article class="start">
    <section class="panel title">
        <div class="cover"></div>
        <header>
            <h1>{{__ 'FAM'}}</h1>
            <div class="front-video">
                <video src="/static/media/frontpage.mp4" autobuffer loop></video>
                <canvas width="1024" height="296"></canvas>
            </div>
            <p style="background-image: url('/static/img/subtitle_{{__ 'CURRENT_LANG'}}.png');">{{__ 'Allò que es veu, Allò que s’amaga'}}</p>
        </header>

        <ul class="tipology">
            <li class="ico-exp">
                <strong>{{__ 'Experiència'}}</strong>
                <p>{{__ 'F-A-M és un webdoc. Un audiovisual que es navega i que requereix observació i participació. Una proposta narrativa sobre l’imaginari col·lectiu que compartim sobre la fam. '}}</p>
            </li>
            <li class="ico-tip">
                <strong>{{__ 'Sinopsis'}}</strong>
                <p>{{__ 'No sabem quanta gent es mor al dia de fam. Alguns parlen de 25.000 morts diàries i d’altres, de 100.000 persones. Hem sentit a parlar de la fam des que vam néixer, però l’hem entès? Sabem qui es mor de fam i per què?'}}</p>
            </li>
            <li class="ico-dur">
                <strong>{{__ 'Durada'}}</strong>
                <p>{{__ 'El temps de reproducció variarà en funció de la teva navegació del documental, entre uns minuts i unes hores, tu tries fins a on aprofundir. '}}</p>
            </li>
        </ul>

        <button data-start type="button">{{__ 'Empezar'}}</button>
    </section>
    <section class="panel permissions">

        <div class="camera">
            <strong>{{{__ 'Activar<br> webcam i micro'}}}</strong>
            <p>{{__ 'F-A-M està pensat perquè juguis amb imatges, les reconeguis, les remiris, les repensis i descobreixis de noves. Activa la webcam i el micro per ser part de la història que expliquem, perquè de fet, ja ho ets.'}}</p>

            <button data-activate type="button">{{__ 'activar'}}</button>
            <button data-cancel type="button">{{__ 'no, gracias'}}</button>
        </div>
    </section>
</article>