<article class="end videos" data-page="videos">
    <section class="panel title">
        <ul class="video-list">
            {{#each videos}}
            <li>
                <div class="video-pair">
                    <div class="user">
                    {{__ 'Usuario'}} <strong>{{name}}</strong>
                    </div>

                    {{#if intro}}
                    <div class="intro">
                        <video type="video/webm" preload="auto" src="/uploads/intro/{{intro}}"></video>
                    </div>
                    {{else}}
                    <div class="intro fill">
                    </div>
                    {{/if}}

                    {{#if outro}}
                    <div class="outro">
                        <video type="video/webm"  preload="auto" src="/uploads/outro/{{outro}}"></video>
                    </div>
                    {{else}}
                    <div class="outro fill">
                    </div>
                    {{/if}}

                </div>
            </li>
            {{/each}}
        </ul>

    {{> end-menu}}

    </section>

</article>
